.App {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: black;
  height: 6rem;
  display: flex;
  color: white;
  line-height: 24px;
}

.company {
  padding: 1rem;
  font-weight: 600;
  width: 190px;
  border-right: 1px solid #313335;
}

.route {
  padding: 1rem;
  border-right: 1px solid #313335;
  flex: 1;
}

.link {
  text-decoration: none;
  color: #96989C;
}

.link.active,
.link:active,
.link:hover {
  color: white;
}

.logoContainer {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 6rem;
}

.main {
  flex: 1;
  overflow-y: auto;
}

.footer {
  background-color: black;
  height: 6rem;
  color: #96989C;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  font-size: 11px;
}